TEST_CSV_MODEL_APP/CSV/TEST_SCHEMA.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            
  
  
  
  <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="../IBMdefined/CommaSeparatedFormat.xsd"/>
            
  
  
  
  <xsd:annotation>
                		
    
    
    
    <xsd:appinfo source="http://www.ogf.org/dfdl/">
                        			
      
      
      
      <dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
                        		
    
    
    
    </xsd:appinfo>
                	
  
  
  
  </xsd:annotation>
        	
  
  
  
  <xsd:element ibmSchExtn:docRoot="true" name="TEST_SCHEMA">
                		
    
    
    
    <xsd:complexType>
                        			
      
      
      
      <xsd:sequence dfdl:separator="">
                                				
        
        
        
        <xsd:element dfdl:occursCountKind="implicit" dfdl:terminator="%CR;%LF;%WSP*;" maxOccurs="unbounded" minOccurs="0" name="record">
                                        					
          
          
          
          <xsd:complexType>
                                                						
            
            
            
            <xsd:sequence dfdl:separatorSuppressionPolicy="trailingEmpty">
                                                        							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="value1" name="name" type="xsd:string"/>
                                                        							
              
              
              
              <xsd:element dfdl:textNumberPattern="0" ibmDfdlExtn:sampleValue="value2" name="age" type="xsd:string"/>
                                                        							
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="value3" name="dept" type="xsd:string"/>
                                                                                    
              
              
              
              <xsd:element dfdl:textNumberPattern="0" ibmDfdlExtn:sampleValue="value4" name="salary" type="xsd:string"/>
                                                                                    
              
              
              
              <xsd:element ibmDfdlExtn:sampleValue="value5" name="address" type="xsd:string"/>
                                                                                
            
            
            
            </xsd:sequence>
                                                					
          
          
          
          </xsd:complexType>
                                        				
        
        
        
        </xsd:element>
                                				
			
      
      
      
      </xsd:sequence>
                        		
    
    
    
    </xsd:complexType>
                	
  
  
  
  </xsd:element>
        



</xsd:schema>
