MAPPING_NODE_APP/MappingSchema/customertxml_data.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="name" type="xsd:string"/>
  <xsd:element name="details">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="id"/>
        <xsd:element ref="name"/>
        <xsd:element ref="dept"/>
        <xsd:element ref="age"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="id" type="xsd:string"/>
  <xsd:element name="dept" type="xsd:string"/>
  <xsd:element name="age" type="xsd:int"/>
  <xsd:element name="customer">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="details"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
