BACKEND_DB_FLOW_APP/BACKEND_DB_WSDLFile_InlineSchema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/BACKEND_DB_WSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BACKEND_DB_WSDLFile/">
        
  <xsd:element ibmSchExtn:docRoot="true" name="NewOperation">
            
    <xsd:complexType>
                
      <xsd:sequence>
                  	
                  	
                  	
                  	
        <xsd:element name="details" type="xsd:string"/>
                  
      </xsd:sequence>
              
    </xsd:complexType>
          
  </xsd:element>
        
  <xsd:element ibmSchExtn:docRoot="true" name="NewOperationResponse"
  	type="tns:NewType">


  </xsd:element>

  
    <xsd:complexType name="out1"></xsd:complexType>

    <xsd:complexType name="NewType">
    	<xsd:sequence>
    		<xsd:element name="NewElement" type="xsd:string"></xsd:element>
    		<xsd:element name="NewElement1" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>
